body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color:#f4f4f4;
  color: #333;
}

.titulo {
text-align: center;
}
.cabecalho {
  text-align: center;
  margin-bottom: 30px;
}
.cabecalho p {
  color: #777;
  font-style: italic;
}

h1, h2, h3 {
  color: #2c3e50;
}

main{
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 90%; /* Posso usar porcentagem ?*/
  margin: auto; /*esta correto?*/
}

img{
  max-width:100%;
  margin: 30px auto 0px;
}

.conteudo-principal{
  display: flex;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee; /*linha*/
  color: #777;
}

figcaption{
  font-size: smaller;
  color: #777;
  text-align: center;
}

